<div class="container mt-3">
    <h1> Watch lists </h1>
      <% @lists.each do |list| %>
        <div>
          <li>
            <%= link_to list.name, list_path(list) %>
          </li>
        </div>
      <% end %>
      <%= link_to "Create new list", new_list_path %>
  </div>
